@mixin custom-panel-title(
  $font-family: SYHT,
  $weight: 800,
  $size: 20px,
  $style: italic,
  $start: #9cd2ff,
  $end: #ffffff,
  $deg: 0deg
) {
  font-family: $font-family;
  font-weight: $weight;
  font-size: $size;
  font-style: $style;
  background: linear-gradient($deg, $start 0%, $end 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; // 替代 -webkit-text-fill-color

  // Firefox fallback: 使用 mask
  @supports (-moz-background-clip: text) {
    -moz-background-clip: text;
  }
}
