:root {
  --old-main-color: #6bc3e6;
  --theme-color: #198cff;
  --border-color: #e5e6eb;
}

* {
  padding: 0;
  margin: 0;
  user-select: none;
}

html,
body {
  height: 100%;
  // font-size: var(--small-font-size);
  overflow: hidden;
  color: var(--main-text-color);
}

li {
  list-style: none;
}